<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" xmlns:rwd="http://typo3.org/ns/Smichaelsen/RwdMedia/ViewHelpers">
<f:spaceless>
<f:comment>
    Input arguments:
    * image: Can be one of the following:
      - string identifying a file like "2:myfolder/myfile.jpg" (combined identifier), "23" (file UID), "uploads/myfile.png" (backwards-compatibility, storage "0") or "file:23"
      - \TYPO3\CMS\Extbase\Domain\Model\FileReference
      - \TYPO3\CMS\Core\Resource\FileReference
      - array with the file (reference) record
      - null (nothing is rendered then)
    * class: class name(s) for the img tag
    * width: Target width (in classic pixels, don't multiply by 2 for retina, that is done internally)
    * height: Target height (in classic pixels, don't multiply by 2 for retina, that is done internally)
    * maxWidth: Target maximum width (in classic pixels, don't multiply by 2 for retina, that is done internally)
    * maxHeight: Target maximum height (in classic pixels, don't multiply by 2 for retina, that is done internally)
    * srcAttributeName: If you want the image src url set in an alternative attrbute (e.g. for lazy loading) you can set it here
    * retinaSrcAttributeName: If you want the retina image src url set in an alternative attrbute instead of srcset (e.g. for lazy loading) you can set it here
    * ignoreLink: Don't link the image even if image.link is set
    * debug: debug output (also including the parsed image data)
</f:comment>

<rwd:imageProperties as="image">{image}</rwd:imageProperties>
<f:if condition="{debug}">{_all -> f:debug()}</f:if>
<f:if condition="{image}">
    <f:if condition="{ignoreLink}">
        <f:then>
            <f:render section="image" arguments="{_all}"/>
        </f:then>
        <f:else>
            <f:if condition="{image.link}">
                <f:then>
                    <v:link.typolink configuration="{parameter: image.link}">
                        <f:render section="image" arguments="{_all}"/>
                    </v:link.typolink>
                </f:then>
                <f:else>
                    <f:render section="image" arguments="{_all}"/>
                </f:else>
            </f:if>
        </f:else>
    </f:if>
</f:if>

<f:section name="image">
    <v:variable.set name="src">{f:uri.image(src:'{image.id}',width:'{width}c',height:'{height}c',maxWidth:'{maxWidth}',maxHeight:'{maxHeight}',crop:'{image.crop -> f:format.htmlentitiesDecode()}')}</v:variable.set>
    <v:variable.set name="srcAttribute">{srcAttributeName -> v:or(alternative:'src')}="{src}"{f:if(condition:dummySrc,then:' src="{dummySrc}"')}</v:variable.set>
    <v:variable.set name="alt">{image.alternative -> v:or(alternative:'{image.title}')}</v:variable.set>
    <v:variable.set name="titleAttribute">{f:if(condition:'{image.title}', then:' title="{image.title}"')}</v:variable.set>
    <v:variable.set name="classAttribute">{f:if(condition:'{class}', then:' class="{class}"')}</v:variable.set>
    <v:variable.set name="retinaSrc">{f:uri.image(src:'{image.id}',width:'{width -> v:math.product(b:\'2\')}c',height:'{height -> v:math.product(b:\'2\')}c',maxWidth:'{maxWidth -> v:math.product(b:\'2\')}',maxHeight:'{maxHeight -> v:math.product(b:\'2\')}',crop:'{image.crop -> f:format.htmlentitiesDecode()}')}</v:variable.set>
    <v:variable.set name="retinaAttribute"><f:spaceless>
        <v:condition.string.contains haystack="{image.extension}" needle="svg"><f:else>
            {f:if(condition:'{retinaSrcAttributeName}', then:'{retinaSrcAttributeName}="{retinaSrc}"', else:'srcset="{retinaSrc} 2x"')}
        </f:else></v:condition.string.contains>
    </f:spaceless></v:variable.set>
    <f:format.raw>
        <img {srcAttribute} alt="{alt}"{titleAttribute}{classAttribute} {retinaAttribute}>
    </f:format.raw>
</f:section>
</f:spaceless>
</html>
